<%= form_for(room) do |f| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
      <% room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room_type %>
    <%= f.number_field :room_type %>
  </div>

  <div class="field">
    <%= f.label :num_rooms %>
    <%= f.number_field :num_rooms %>
  </div>

  <div class="field">
    <%= f.label :square %>
    <%= f.number_field :square %>
  </div>

  <div class="field">
    <%= f.label :floor %>
    <%= f.number_field :floor %>
  </div>

  <div class="field">
    <%= f.label :building_type %>
    <%= f.number_field :building_type %>
  </div>

  <div class="field">
    <%= f.label :structure_type %>
    <%= f.number_field :structure_type %>
  </div>

  <div class="field">
    <%= f.label :floor_height %>
    <%= f.number_field :floor_height %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
